.wrapper{
    width: 960px;
    height: 960px;
    margin: 0  auto;
}
.block {
    position: relative;
    display: inline-block;
    margin: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    text-align: center;
}

.row{
    text-align: center;
    position: relative;
}




.menu{
    text-align: center;
}

.menu h1 {
    margin: 5px 0;
}
.menu h3 {
    margin: 5px 0;
}

.controls{
    margin: 5px;
    margin-top: 20px;
}