h1,
h2,
h3,
p {
    font-family: helvetica, Times New Roman;
}



.wrapper{
    width: 960px;
    height: 960px;
    margin: 0  auto;
}
.block {
    position: relative;
    display: inline-block;
    margin: 2px 2px 2px 2px;
    text-align: center;
    border-style: dotted;
    border-width: 0.25px;

}

.row{
    text-align: center;
    position: relative;
}

.grid{
    
}


.menu{
    text-align: center;
}

.menu h1 {
    margin: 5px 0;
}
.menu h3 {
    margin: 5px 0;
}

.reset-controls{
    margin: 10px;
    border-top: dotted lightcoral;
}

.reset-controls p{
    display: inline-block;
    margin-right: 20px;
    
}

.button {
    display: inline-block;
    width: 100px;
    height: 30px;
    font-family: helvetica;
    border-radius: 20px;
    background-color: lightcoral;
    box-shadow: none;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
}

.button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.grid-size form > *{
    display: inline-block;
}
.grid-size form {
    padding-bottom: 20px;

}


.grid-size input {
    width: 25px;
    height: 25px;
    text-align: right;
}

.grid-size p {
    margin-bottom: 0px;
}


.block-color form > * {
    display: inline-block;
}




